body{
    background: #BFBFBF;
}

.sticker{
    margin: 10px;
    display: inline-block;
}

.sticker .content, .sticker .settings{
    width: 200px;
    min-height: 200px;
    padding: 10px;
    word-wrap: break-word;
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.5);
    position: relative;
}


.sticker .content{
    z-index: 2;
    background: linear-gradient(to bottom, #FFF7CA, #FFED96);
}

.sticker .settings{
    background: linear-gradient(to bottom, #5D5E60, #515154);
}

.sticker .settings{
    z-index: 1;
    top: -220px;
}

/*colour*/

.sticker.color0{
    background: linear-gradient(to bottom, #FFF7CA, #FFED96);
}

.sticker.color1{
    background: linear-gradient(to bottom, #FFDFA7, #FFBE64);
}

.sticker.color2{
    background: linear-gradient(to bottom, #EDFCC2, #CBF98C);
}

.sticker.color3{
    background: linear-gradient(to bottom, #C7FBC1, #89F98C);
}

.sticker.color4{
    background: linear-gradient(to bottom, #DAF6FE, #A5EAFD);
}

.sticker.color5{
    background: linear-gradient(to bottom, #C6E2FC, #82BAFA);
}

.sticker.color6{
    background: linear-gradient(to bottom, #F1E3FD, #DCBCFA);
}

.sticker.color7{
    background: linear-gradient(to bottom, #FFDCF9, #FFB5F3);
}

.sticker.color8{
    background: linear-gradient(to bottom, #FFFEFE, #F2F1F1);
}

.sticker.color9{
    background: linear-gradient(to bottom, #ECECEC, #C8C8C8);
}

/*animation*/

/*.sticker{
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-delay: 0.5s;
}*/
.sticker .content, .sticker .settings{
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: linear;
}

.sticker.show-settings .content{
    z-index: 1;
    -webkit-animation-name: flip, hideCont;
    -webkit-animation-duration: 1s, 0.01ms;
    -webkit-animation-delay: 0s, 0.5s;
}

.sticker.show-settings .settings{
    z-index: 2;
    -webkit-animation-name: hideCont, showCont, reflip;
    -webkit-animation-duration: 0.01ms, 0.01ms, 1s;
    -webkit-animation-delay: 0s, 0.5s, 0s;
}

.sticker.not-show-settings .settings{
    z-index: 1;
    -webkit-animation-name: showCont, flip, hideCont;
    -webkit-animation-duration: 0.01ms, 1s, 0.01ms;
    -webkit-animation-delay: 0s, 0s, 0.5s;
}

.sticker.not-show-settings .content{
    z-index: 2;
    -webkit-animation-name: hideCont, flip, showCont, reflip;
    -webkit-animation-duration: 0.01ms, 0.01ms, 0.01ms, 1s;
    -webkit-animation-delay: 0s, 0s, 0.5s, 0s;
}

@-webkit-keyframes flip
{
    from {
        -webkit-transform: scaleX(1);
    }
    to {
        -webkit-transform: scaleX(-1);
    }
}

@-webkit-keyframes reflip
{
    from {
        -webkit-transform: scaleX(-1);
    }
    to {
        -webkit-transform: scaleX(1);
    }
}

@-webkit-keyframes hideCont
{
    from{
        opacity: 0;
    }
    to{
        opacity: 0;
    }
}

@-webkit-keyframes showCont
{
    from{
        opacity: 1;
    }
    to{
        opacity: 1;
    }
}