@charset "IBM866";
html, body {
  height: 100%; }

body {
  background: #bfbfbf;
  padding: 0;
  margin: 0; }

.wrapper {
  min-height: 100%; }

.wrapper.showClose .close {
  opacity: 1;
  cursor: pointer;
  -webkit-transition: opacity 1000ms;
  -moz-transition: opacity 1000ms;
  -o-transition: opacity 1000ms;
  -ms-transition: opacity 1000ms;
  transition: opacity 1000ms; }

.footer {
  height: 50px;
  margin-top: -50px;
  position: fixed;
  padding-left: 20px;
  width: 100%; }
  .footer .button {
    color: white;
    display: inline-block;
    border: 2px solid;
    border-radius: 100px;
    font-weight: bold;
    font-size: 50px;
    line-height: 30px;
    width: 30px;
    background-color: #5f5f5f;
    text-align: center;
    cursor: pointer; }
    .footer .button span {
      position: relative; }
    .footer .button.add span {
      left: 0.5px;
      top: -1.5px; }
    .footer .button.remove span {
      top: -5px; }
    .footer .button:last-child {
      margin-left: 10px; }

.sticker {
  margin: 10px;
  display: inline-block; }
  .sticker .content, .sticker .settings {
    width: 200px;
    padding: 5px 10px 10px 10px;
    word-wrap: break-word;
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.5);
    position: relative; }
  .sticker .content {
    z-index: 2;
    top: -220px;
    background: -webkit-gradient(to bottom, #fff7ca, #ffed96);
    background: -webkit-linear-gradient(to bottom, #fff7ca, #ffed96);
    background: -moz-linear-gradient(to bottom, #fff7ca, #ffed96);
    background: -o-linear-gradient(to bottom, #fff7ca, #ffed96);
    background: -ms-linear-gradient(to bottom, #fff7ca, #ffed96);
    background: linear-gradient(to bottom, #fff7ca, #ffed96); }
    .sticker .content:focus, .sticker .content:active {
      border: none;
      outline: none; }
    .sticker .content .text {
      min-height: 197px;
      font-family: Helvetica;
      font-size: medium; }
    .sticker .content:hover .more {
      opacity: 1;
      -webkit-animation: fadein 500ms;
      -moz-animation: fadein 500ms;
      -o-animation: fadein 500ms;
      -ms-animation: fadein 500ms;
      animation: fadein 500ms; }
    .sticker .content .more {
      height: 20px;
      text-align: right;
      z-index: 3;
      opacity: 0;
      float: right;
      display: inline-block;
      top: -18px;
      font-style: italic;
      font-weight: bold;
      position: relative;
      width: 20px;
      text-align: center;
      border-radius: 50px;
      cursor: pointer;
      -webkit-transition: background 500ms;
      -moz-transition: background 500ms;
      -o-transition: background 500ms;
      -ms-transition: background 500ms;
      transition: background 500ms; }
      .sticker .content .more:hover {
        background: rgba(128, 128, 128, 0.7); }
  .sticker .close {
    margin: -20px 0 0 -24px;
    font-size: 22px;
    font-weight: bold;
    color: white;
    border: 2px solid;
    background: black;
    border-radius: 100px;
    width: 22px;
    height: 24px;
    padding-right: 2px;
    text-align: center;
    opacity: 0; }
  .sticker .settings {
    background: -webkit-gradient(to bottom, #5d5e60, #515154);
    background: -webkit-linear-gradient(to bottom, #5d5e60, #515154);
    background: -moz-linear-gradient(to bottom, #5d5e60, #515154);
    background: -o-linear-gradient(to bottom, #5d5e60, #515154);
    background: -ms-linear-gradient(to bottom, #5d5e60, #515154);
    background: linear-gradient(to bottom, #5d5e60, #515154);
    opacity: 0;
    z-index: 1;
    min-height: 200px;
    width: 220px;
    padding: 10px 0px; }
    .sticker .settings .close {
      margin: -25px 0 0 -14px; }
    .sticker .settings .ready {
      background: -webkit-gradient(to bottom, #777778, #4d4e4f);
      background: -webkit-linear-gradient(to bottom, #777778, #4d4e4f);
      background: -moz-linear-gradient(to bottom, #777778, #4d4e4f);
      background: -o-linear-gradient(to bottom, #777778, #4d4e4f);
      background: -ms-linear-gradient(to bottom, #777778, #4d4e4f);
      background: linear-gradient(to bottom, #777778, #4d4e4f);
      border: 1px solid #39393b;
      border-radius: 5px;
      color: white;
      font-weight: bold;
      padding: 5px 10px;
      display: inline-block;
      float: right;
      cursor: pointer; }
    .sticker .settings .color-picker {
      width: 100%;
      border-spacing: 10px; }
      .sticker .settings .color-picker td {
        height: 26px;
        width: 28px;
        text-align: center;
        vertical-align: middle;
        color: #464548;
        border: 1px solid;
        font-size: 22px;
        cursor: pointer; }
        .sticker .settings .color-picker td.active:after {
          content: "✔"; }
    .sticker .settings span {
      padding-left: 10px;
      color: white;
      font-family: SANS-SERIF;
      font-size: 12px; }
    .sticker .settings .block {
      padding: 5px 10px 0; }
      .sticker .settings .block select {
        display: inline-block;
        display: inline-block;
        border-radius: 5px;
        border: 1px solid #39393b;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        margin: 0px 0px 6px 0px;
        padding-right: 8px; }
      .sticker .settings .block label {
        position: relative;
        float: right;
        display: inline-block; }
        .sticker .settings .block label:after {
          content: "◀▶";
          font-size: 7px;
          letter-spacing: 1px;
          color: #414141;
          -webkit-transform: rotate(90deg);
          -moz-transform: rotate(90deg);
          -o-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          transform: rotate(90deg);
          right: 1px;
          top: 6px;
          position: absolute;
          pointer-events: none; }
        .sticker .settings .block label:first-child {
          float: left; }
          .sticker .settings .block label:first-child:after {
            right: 0px; }
  .sticker .color0 {
    background: -webkit-gradient(to bottom, #fff7ca, #ffed96);
    background: -webkit-linear-gradient(to bottom, #fff7ca, #ffed96);
    background: -moz-linear-gradient(to bottom, #fff7ca, #ffed96);
    background: -o-linear-gradient(to bottom, #fff7ca, #ffed96);
    background: -ms-linear-gradient(to bottom, #fff7ca, #ffed96);
    background: linear-gradient(to bottom, #fff7ca, #ffed96); }
  .sticker .color1 {
    background: -webkit-gradient(to bottom, #ffdfa7, #ffbe64);
    background: -webkit-linear-gradient(to bottom, #ffdfa7, #ffbe64);
    background: -moz-linear-gradient(to bottom, #ffdfa7, #ffbe64);
    background: -o-linear-gradient(to bottom, #ffdfa7, #ffbe64);
    background: -ms-linear-gradient(to bottom, #ffdfa7, #ffbe64);
    background: linear-gradient(to bottom, #ffdfa7, #ffbe64); }
  .sticker .color2 {
    background: -webkit-gradient(to bottom, #edfcc2, #cbf98c);
    background: -webkit-linear-gradient(to bottom, #edfcc2, #cbf98c);
    background: -moz-linear-gradient(to bottom, #edfcc2, #cbf98c);
    background: -o-linear-gradient(to bottom, #edfcc2, #cbf98c);
    background: -ms-linear-gradient(to bottom, #edfcc2, #cbf98c);
    background: linear-gradient(to bottom, #edfcc2, #cbf98c); }
  .sticker .color3 {
    background: -webkit-gradient(to bottom, #c7fbc1, #89f98c);
    background: -webkit-linear-gradient(to bottom, #c7fbc1, #89f98c);
    background: -moz-linear-gradient(to bottom, #c7fbc1, #89f98c);
    background: -o-linear-gradient(to bottom, #c7fbc1, #89f98c);
    background: -ms-linear-gradient(to bottom, #c7fbc1, #89f98c);
    background: linear-gradient(to bottom, #c7fbc1, #89f98c); }
  .sticker .color4 {
    background: -webkit-gradient(to bottom, #daf6fe, #a5eafd);
    background: -webkit-linear-gradient(to bottom, #daf6fe, #a5eafd);
    background: -moz-linear-gradient(to bottom, #daf6fe, #a5eafd);
    background: -o-linear-gradient(to bottom, #daf6fe, #a5eafd);
    background: -ms-linear-gradient(to bottom, #daf6fe, #a5eafd);
    background: linear-gradient(to bottom, #daf6fe, #a5eafd); }
  .sticker .color5 {
    background: -webkit-gradient(to bottom, #c6e2fc, #82bafa);
    background: -webkit-linear-gradient(to bottom, #c6e2fc, #82bafa);
    background: -moz-linear-gradient(to bottom, #c6e2fc, #82bafa);
    background: -o-linear-gradient(to bottom, #c6e2fc, #82bafa);
    background: -ms-linear-gradient(to bottom, #c6e2fc, #82bafa);
    background: linear-gradient(to bottom, #c6e2fc, #82bafa); }
  .sticker .color6 {
    background: -webkit-gradient(to bottom, #f1e3fd, #dcbcfa);
    background: -webkit-linear-gradient(to bottom, #f1e3fd, #dcbcfa);
    background: -moz-linear-gradient(to bottom, #f1e3fd, #dcbcfa);
    background: -o-linear-gradient(to bottom, #f1e3fd, #dcbcfa);
    background: -ms-linear-gradient(to bottom, #f1e3fd, #dcbcfa);
    background: linear-gradient(to bottom, #f1e3fd, #dcbcfa); }
  .sticker .color7 {
    background: -webkit-gradient(to bottom, #ffdcf9, #ffb5f3);
    background: -webkit-linear-gradient(to bottom, #ffdcf9, #ffb5f3);
    background: -moz-linear-gradient(to bottom, #ffdcf9, #ffb5f3);
    background: -o-linear-gradient(to bottom, #ffdcf9, #ffb5f3);
    background: -ms-linear-gradient(to bottom, #ffdcf9, #ffb5f3);
    background: linear-gradient(to bottom, #ffdcf9, #ffb5f3); }
  .sticker .color8 {
    background: -webkit-gradient(to bottom, #fffefe, #f2f1f1);
    background: -webkit-linear-gradient(to bottom, #fffefe, #f2f1f1);
    background: -moz-linear-gradient(to bottom, #fffefe, #f2f1f1);
    background: -o-linear-gradient(to bottom, #fffefe, #f2f1f1);
    background: -ms-linear-gradient(to bottom, #fffefe, #f2f1f1);
    background: linear-gradient(to bottom, #fffefe, #f2f1f1); }
  .sticker .color9 {
    background: -webkit-gradient(to bottom, #ececec, #c8c8c8);
    background: -webkit-linear-gradient(to bottom, #ececec, #c8c8c8);
    background: -moz-linear-gradient(to bottom, #ececec, #c8c8c8);
    background: -o-linear-gradient(to bottom, #ececec, #c8c8c8);
    background: -ms-linear-gradient(to bottom, #ececec, #c8c8c8);
    background: linear-gradient(to bottom, #ececec, #c8c8c8); }
  .sticker .content, .sticker .settings {
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    animation-timing-function: linear; }
  .sticker.show-settings .content {
    z-index: 1;
    -webkit-animation-name: flip, hideCont;
    -moz-animation-name: flip, hideCont;
    -o-animation-name: flip, hideCont;
    -ms-animation-name: flip, hideCont;
    animation-name: flip, hideCont;
    -webkit-animation-delay: 0s, 250ms;
    -moz-animation-delay: 0s, 250ms;
    -o-animation-delay: 0s, 250ms;
    -ms-animation-delay: 0s, 250ms;
    animation-delay: 0s, 250ms;
    -webkit-animation-duration: 500ms, 0.01ms;
    -moz-animation-duration: 500ms, 0.01ms;
    -o-animation-duration: 500ms, 0.01ms;
    -ms-animation-duration: 500ms, 0.01ms;
    animation-duration: 500ms, 0.01ms; }
  .sticker.show-settings .settings {
    z-index: 2;
    -webkit-animation-name: hideCont, showCont, reflip;
    -moz-animation-name: hideCont, showCont, reflip;
    -o-animation-name: hideCont, showCont, reflip;
    -ms-animation-name: hideCont, showCont, reflip;
    animation-name: hideCont, showCont, reflip;
    -webkit-animation-delay: 0s, 250ms, 0s;
    -moz-animation-delay: 0s, 250ms, 0s;
    -o-animation-delay: 0s, 250ms, 0s;
    -ms-animation-delay: 0s, 250ms, 0s;
    animation-delay: 0s, 250ms, 0s;
    -webkit-animation-duration: 0.01ms, 0.01ms, 500ms;
    -moz-animation-duration: 0.01ms, 0.01ms, 500ms;
    -o-animation-duration: 0.01ms, 0.01ms, 500ms;
    -ms-animation-duration: 0.01ms, 0.01ms, 500ms;
    animation-duration: 0.01ms, 0.01ms, 500ms; }
  .sticker.not-show-settings .settings {
    z-index: 1;
    -webkit-animation-name: showCont, flip, hideCont;
    -moz-animation-name: showCont, flip, hideCont;
    -o-animation-name: showCont, flip, hideCont;
    -ms-animation-name: showCont, flip, hideCont;
    animation-name: showCont, flip, hideCont;
    -webkit-animation-delay: 0s, 0s, 250ms;
    -moz-animation-delay: 0s, 0s, 250ms;
    -o-animation-delay: 0s, 0s, 250ms;
    -ms-animation-delay: 0s, 0s, 250ms;
    animation-delay: 0s, 0s, 250ms;
    -webkit-animation-duration: 0.01ms, 500ms, 0.01ms;
    -moz-animation-duration: 0.01ms, 500ms, 0.01ms;
    -o-animation-duration: 0.01ms, 500ms, 0.01ms;
    -ms-animation-duration: 0.01ms, 500ms, 0.01ms;
    animation-duration: 0.01ms, 500ms, 0.01ms; }
  .sticker.not-show-settings .content {
    z-index: 2;
    -webkit-animation-name: hideCont, flip, showCont, reflip;
    -moz-animation-name: hideCont, flip, showCont, reflip;
    -o-animation-name: hideCont, flip, showCont, reflip;
    -ms-animation-name: hideCont, flip, showCont, reflip;
    animation-name: hideCont, flip, showCont, reflip;
    -webkit-animation-delay: 0s, 0s, 250ms, 0s;
    -moz-animation-delay: 0s, 0s, 250ms, 0s;
    -o-animation-delay: 0s, 0s, 250ms, 0s;
    -ms-animation-delay: 0s, 0s, 250ms, 0s;
    animation-delay: 0s, 0s, 250ms, 0s;
    -webkit-animation-duration: 0.01ms, 0.01ms, 0.01ms, 500ms;
    -moz-animation-duration: 0.01ms, 0.01ms, 0.01ms, 500ms;
    -o-animation-duration: 0.01ms, 0.01ms, 0.01ms, 500ms;
    -ms-animation-duration: 0.01ms, 0.01ms, 0.01ms, 500ms;
    animation-duration: 0.01ms, 0.01ms, 0.01ms, 500ms; }

@-webkit-keyframes flip {
  from {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -o-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1); }

  to {
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1); } }

@-moz-keyframes flip {
  from {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -o-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1); }

  to {
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1); } }

@-ms-keyframes flip {
  from {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -o-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1); }

  to {
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1); } }

@keyframes flip {
  from {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -o-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1); }

  to {
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1); } }

@-webkit-keyframes reflip {
  from {
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1); }

  to {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -o-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1); } }

@-moz-keyframes reflip {
  from {
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1); }

  to {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -o-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1); } }

@-ms-keyframes reflip {
  from {
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1); }

  to {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -o-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1); } }

@keyframes reflip {
  from {
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1); }

  to {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -o-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1); } }

@-webkit-keyframes hideCont {
  from {
    opacity: 0; }

  to {
    opacity: 0; } }

@-moz-keyframes hideCont {
  from {
    opacity: 0; }

  to {
    opacity: 0; } }

@-ms-keyframes hideCont {
  from {
    opacity: 0; }

  to {
    opacity: 0; } }

@keyframes hideCont {
  from {
    opacity: 0; }

  to {
    opacity: 0; } }

@-webkit-keyframes showCont {
  from {
    opacity: 1; }

  to {
    opacity: 1; } }

@-moz-keyframes showCont {
  from {
    opacity: 1; }

  to {
    opacity: 1; } }

@-ms-keyframes showCont {
  from {
    opacity: 1; }

  to {
    opacity: 1; } }

@keyframes showCont {
  from {
    opacity: 1; }

  to {
    opacity: 1; } }

@-webkit-keyframes fadein {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@-moz-keyframes fadein {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@-ms-keyframes fadein {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@keyframes fadein {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }
