/* line 1, style.sass */
html, body {
  height: 100%;
}

/* line 4, style.sass */
body {
  background: #bfbfbf;
  padding: 0;
  margin: 0;
}

/* line 59, style.sass */
.sticker {
  margin: 10px;
  display: inline-block;
  /*colour */
  /*animation */
}
/* line 62, style.sass */
.sticker .content, .sticker .settings {
  width: 200px;
  min-height: 200px;
  padding: 10px;
  word-wrap: break-word;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.5);
  position: relative;
}
/* line 70, style.sass */
.sticker .content {
  z-index: 2;
  background: -webkit-gradient(to bottom, #fff7ca, #ffed96);
  background: -webkit-linear-gradient(to bottom, #fff7ca, #ffed96);
  background: -moz-linear-gradient(to bottom, #fff7ca, #ffed96);
  background: -o-linear-gradient(to bottom, #fff7ca, #ffed96);
  background: -ms-linear-gradient(to bottom, #fff7ca, #ffed96);
  background: linear-gradient(to bottom, #fff7ca, #ffed96);
}
/* line 74, style.sass */
.sticker .settings {
  background: -webkit-gradient(to bottom, #5d5e60, #515154);
  background: -webkit-linear-gradient(to bottom, #5d5e60, #515154);
  background: -moz-linear-gradient(to bottom, #5d5e60, #515154);
  background: -o-linear-gradient(to bottom, #5d5e60, #515154);
  background: -ms-linear-gradient(to bottom, #5d5e60, #515154);
  background: linear-gradient(to bottom, #5d5e60, #515154);
  z-index: 1;
  top: -220px;
}
/* line 81, style.sass */
.sticker.color0 {
  background: -webkit-gradient(to bottom, #fff7ca, #ffed96);
  background: -webkit-linear-gradient(to bottom, #fff7ca, #ffed96);
  background: -moz-linear-gradient(to bottom, #fff7ca, #ffed96);
  background: -o-linear-gradient(to bottom, #fff7ca, #ffed96);
  background: -ms-linear-gradient(to bottom, #fff7ca, #ffed96);
  background: linear-gradient(to bottom, #fff7ca, #ffed96);
}
/* line 84, style.sass */
.sticker.color1 {
  background: -webkit-gradient(to bottom, #ffdfa7, #ffbe64);
  background: -webkit-linear-gradient(to bottom, #ffdfa7, #ffbe64);
  background: -moz-linear-gradient(to bottom, #ffdfa7, #ffbe64);
  background: -o-linear-gradient(to bottom, #ffdfa7, #ffbe64);
  background: -ms-linear-gradient(to bottom, #ffdfa7, #ffbe64);
  background: linear-gradient(to bottom, #ffdfa7, #ffbe64);
}
/* line 87, style.sass */
.sticker.color2 {
  background: -webkit-gradient(to bottom, #edfcc2, #cbf98c);
  background: -webkit-linear-gradient(to bottom, #edfcc2, #cbf98c);
  background: -moz-linear-gradient(to bottom, #edfcc2, #cbf98c);
  background: -o-linear-gradient(to bottom, #edfcc2, #cbf98c);
  background: -ms-linear-gradient(to bottom, #edfcc2, #cbf98c);
  background: linear-gradient(to bottom, #edfcc2, #cbf98c);
}
/* line 90, style.sass */
.sticker.color3 {
  background: -webkit-gradient(to bottom, #c7fbc1, #89f98c);
  background: -webkit-linear-gradient(to bottom, #c7fbc1, #89f98c);
  background: -moz-linear-gradient(to bottom, #c7fbc1, #89f98c);
  background: -o-linear-gradient(to bottom, #c7fbc1, #89f98c);
  background: -ms-linear-gradient(to bottom, #c7fbc1, #89f98c);
  background: linear-gradient(to bottom, #c7fbc1, #89f98c);
}
/* line 93, style.sass */
.sticker.color4 {
  background: -webkit-gradient(to bottom, #daf6fe, #a5eafd);
  background: -webkit-linear-gradient(to bottom, #daf6fe, #a5eafd);
  background: -moz-linear-gradient(to bottom, #daf6fe, #a5eafd);
  background: -o-linear-gradient(to bottom, #daf6fe, #a5eafd);
  background: -ms-linear-gradient(to bottom, #daf6fe, #a5eafd);
  background: linear-gradient(to bottom, #daf6fe, #a5eafd);
}
/* line 96, style.sass */
.sticker.color5 {
  background: -webkit-gradient(to bottom, #c6e2fc, #82bafa);
  background: -webkit-linear-gradient(to bottom, #c6e2fc, #82bafa);
  background: -moz-linear-gradient(to bottom, #c6e2fc, #82bafa);
  background: -o-linear-gradient(to bottom, #c6e2fc, #82bafa);
  background: -ms-linear-gradient(to bottom, #c6e2fc, #82bafa);
  background: linear-gradient(to bottom, #c6e2fc, #82bafa);
}
/* line 99, style.sass */
.sticker.color6 {
  background: -webkit-gradient(to bottom, #f1e3fd, #dcbcfa);
  background: -webkit-linear-gradient(to bottom, #f1e3fd, #dcbcfa);
  background: -moz-linear-gradient(to bottom, #f1e3fd, #dcbcfa);
  background: -o-linear-gradient(to bottom, #f1e3fd, #dcbcfa);
  background: -ms-linear-gradient(to bottom, #f1e3fd, #dcbcfa);
  background: linear-gradient(to bottom, #f1e3fd, #dcbcfa);
}
/* line 102, style.sass */
.sticker.color7 {
  background: -webkit-gradient(to bottom, #ffdcf9, #ffb5f3);
  background: -webkit-linear-gradient(to bottom, #ffdcf9, #ffb5f3);
  background: -moz-linear-gradient(to bottom, #ffdcf9, #ffb5f3);
  background: -o-linear-gradient(to bottom, #ffdcf9, #ffb5f3);
  background: -ms-linear-gradient(to bottom, #ffdcf9, #ffb5f3);
  background: linear-gradient(to bottom, #ffdcf9, #ffb5f3);
}
/* line 105, style.sass */
.sticker.color8 {
  background: -webkit-gradient(to bottom, #fffefe, #f2f1f1);
  background: -webkit-linear-gradient(to bottom, #fffefe, #f2f1f1);
  background: -moz-linear-gradient(to bottom, #fffefe, #f2f1f1);
  background: -o-linear-gradient(to bottom, #fffefe, #f2f1f1);
  background: -ms-linear-gradient(to bottom, #fffefe, #f2f1f1);
  background: linear-gradient(to bottom, #fffefe, #f2f1f1);
}
/* line 108, style.sass */
.sticker.color9 {
  background: -webkit-gradient(to bottom, #ececec, #c8c8c8);
  background: -webkit-linear-gradient(to bottom, #ececec, #c8c8c8);
  background: -moz-linear-gradient(to bottom, #ececec, #c8c8c8);
  background: -o-linear-gradient(to bottom, #ececec, #c8c8c8);
  background: -ms-linear-gradient(to bottom, #ececec, #c8c8c8);
  background: linear-gradient(to bottom, #ececec, #c8c8c8);
}
/* line 115, style.sass */
.sticker .content, .sticker .settings {
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  animation-timing-function: linear;
}
/* line 119, style.sass */
.sticker.show-settings .content {
  z-index: 1;
  -webkit-animation-name: flip, hideCont;
  -moz-animation-name: flip, hideCont;
  -o-animation-name: flip, hideCont;
  -ms-animation-name: flip, hideCont;
  animation-name: flip, hideCont;
  -webkit-animation-duration: 500ms, 0.01ms;
  -moz-animation-duration: 500ms, 0.01ms;
  -o-animation-duration: 500ms, 0.01ms;
  -ms-animation-duration: 500ms, 0.01ms;
  animation-duration: 500ms, 0.01ms;
  -webkit-animation-delay: 0s, 250ms;
  -moz-animation-delay: 0s, 250ms;
  -o-animation-delay: 0s, 250ms;
  -ms-animation-delay: 0s, 250ms;
  animation-delay: 0s, 250ms;
}
/* line 125, style.sass */
.sticker.show-settings .settings {
  z-index: 2;
  -webkit-animation-name: hideCont, showCont, reflip;
  -moz-animation-name: hideCont, showCont, reflip;
  -o-animation-name: hideCont, showCont, reflip;
  -ms-animation-name: hideCont, showCont, reflip;
  animation-name: hideCont, showCont, reflip;
  -webkit-animation-duration: 0.01ms, 0.01ms, 500ms;
  -moz-animation-duration: 0.01ms, 0.01ms, 500ms;
  -o-animation-duration: 0.01ms, 0.01ms, 500ms;
  -ms-animation-duration: 0.01ms, 0.01ms, 500ms;
  animation-duration: 0.01ms, 0.01ms, 500ms;
  -webkit-animation-delay: 0s, 250ms, 0s;
  -moz-animation-delay: 0s, 250ms, 0s;
  -o-animation-delay: 0s, 250ms, 0s;
  -ms-animation-delay: 0s, 250ms, 0s;
  animation-delay: 0s, 250ms, 0s;
}
/* line 131, style.sass */
.sticker.not-show-settings .settings {
  z-index: 1;
  -webkit-animation-name: showCont, flip, hideCont;
  -moz-animation-name: showCont, flip, hideCont;
  -o-animation-name: showCont, flip, hideCont;
  -ms-animation-name: showCont, flip, hideCont;
  animation-name: showCont, flip, hideCont;
  -webkit-animation-duration: 0.01ms, 500ms, 0.01ms;
  -moz-animation-duration: 0.01ms, 500ms, 0.01ms;
  -o-animation-duration: 0.01ms, 500ms, 0.01ms;
  -ms-animation-duration: 0.01ms, 500ms, 0.01ms;
  animation-duration: 0.01ms, 500ms, 0.01ms;
  -webkit-animation-delay: 0s, 0s, 250ms;
  -moz-animation-delay: 0s, 0s, 250ms;
  -o-animation-delay: 0s, 0s, 250ms;
  -ms-animation-delay: 0s, 0s, 250ms;
  animation-delay: 0s, 0s, 250ms;
}
/* line 137, style.sass */
.sticker.not-show-settings .content {
  z-index: 2;
  -webkit-animation-name: hideCont, flip, showCont, reflip;
  -moz-animation-name: hideCont, flip, showCont, reflip;
  -o-animation-name: hideCont, flip, showCont, reflip;
  -ms-animation-name: hideCont, flip, showCont, reflip;
  animation-name: hideCont, flip, showCont, reflip;
  -webkit-animation-duration: 0.01ms, 0.01ms, 0.01ms, 500ms;
  -moz-animation-duration: 0.01ms, 0.01ms, 0.01ms, 500ms;
  -o-animation-duration: 0.01ms, 0.01ms, 0.01ms, 500ms;
  -ms-animation-duration: 0.01ms, 0.01ms, 0.01ms, 500ms;
  animation-duration: 0.01ms, 0.01ms, 0.01ms, 500ms;
  -webkit-animation-delay: 0s, 0s, 250ms, 0s;
  -moz-animation-delay: 0s, 0s, 250ms, 0s;
  -o-animation-delay: 0s, 0s, 250ms, 0s;
  -ms-animation-delay: 0s, 0s, 250ms, 0s;
  animation-delay: 0s, 0s, 250ms, 0s;
}

@-webkit-keyframes flip {
  /* line 144, style.sass */
  from {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -o-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
  }

  /* line 146, style.sass */
  to {
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
  }
}

@-webkit-keyframes reflip {
  /* line 150, style.sass */
  from {
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
  }

  /* line 152, style.sass */
  to {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -o-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
  }
}

@-webkit-keyframes hideCont {
  /* line 156, style.sass */
  from {
    opacity: 0;
  }

  /* line 158, style.sass */
  to {
    opacity: 0;
  }
}

@-webkit-keyframes showCont {
  /* line 162, style.sass */
  from {
    opacity: 1;
  }

  /* line 164, style.sass */
  to {
    opacity: 1;
  }
}

/* line 167, style.sass */
.wrapper {
  min-height: 100%;
}

/* line 170, style.sass */
.footer {
  height: 50px;
  margin-top: -50px;
  background: red;
  position: fixed;
  width: 100%;
}

